<div class="col-md-8 offset-md-2">
    <div class="card">
        <div class="card-header">
            <h1>TrashQube</h1>
        </div>
        <div class="card-body">
            <ul>
                <li class="list-group-item d-flex justify-content-between align-items-center">
                     {{#if historico}}
                    <ul class="list-group">
                        {{#each historico}}
                        <li class="list-group-item d-flex justify-content-between align-items-center">
                            <ul>
                                <li class="list-group-item d-flex justify-content-between align-items-center">
                                    <p>Distancia Basura: {{distanciaBasura}}</p>
                                </li>
                            </ul>
                            <ul>
                                <li class="list-group-item d-flex justify-content-between align-items-center">
                                    <p>Distnacia Tapa: {{distanciaTapa}}</p>
                                </li>
                            </ul>
                            <ul>
                                <li class="list-group-item d-flex justify-content-between align-items-center">
                                    <p>Peso: {{peso}}</p>
                                </li>
                            </ul>
                        </li>
                        {{/each}}
                    </ul>
                    {{else}}
                        <p>No Historic Data Yet.</p>
                    {{/if}}
                        </li>
                    </ul>
            <ul>
                <li class="list-group-item d-flex justify-content-between align-items-center">
                    <p>Distancia Basura: {{historico.cubo1.distanciaBasura}}</p>
                </li>
            </ul>
            <ul>
                <li class="list-group-item d-flex justify-content-between align-items-center">
                    <p>Distnacia Tapa: {{historico.cubo1.distanciaTapa}}</p>
                </li>
            </ul>
            <ul>
                <li class="list-group-item d-flex justify-content-between align-items-center">
                    <p>Peso: {{historico.cubo1.peso}}</p>
                </li>
            </ul>
        </div>
        <div class="card-footer">
            <form action="/getQube" method="GET">
                <button class="btn btn-primary btn-block">
                    REFRESH
                </button>
            </form>
        </div>
        <div class="card-footer">
            <canvas id="doughnut-chart" width="800" height="450"></canvas>
        </div>

        <script>
            function gotData(historico){
                var chartData = [];
                    distancias = [50,50,historico.cubo1.peso];
                    chartData.push(distancias);
                    console.log(distancias)
            }
        
            new Chart(document.getElementById("doughnut-chart"), {
            type: 'doughnut',
            data: {
                labels: ["Ocupado", "Libre"],
                datasets: [
                {
                    label: "Capacidad (porcentaje)",
                    backgroundColor: ["#3e95cd", "#8e5ea2"],
                    data: [44,66]
                }
                ]
            },
            options: {
                title: {
                display: true,
                text: 'Capacidad'
                }
            }
            });
        </script>
    </div>
</div>